*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Chakra Petch', sans-serif;
}

html{
    background-color:#FFF4FD;
}

body{
    header{
        .counter_bar{
                width: 100%;
                font-size: 12px;
                letter-spacing: 0;
                background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
                box-shadow: 0 1px 0 0 #110038;
                color :#FFFFFF;
            }
        }
    #main_wrapper{
            max-width: 1200px;
            padding-top:36px;
            margin: 0 auto;
            
        }
    nav{
            position: absolute;
            left: 60px;
        }
    .crear_gifos_window{
            display: flex;
            flex-direction: column;
            margin: 75px auto;
            max-width: 684px;
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            .header{
                max-width: 678px;
                width: 100%;
                background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
                margin: 3px;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                padding-left: 3px;
            }
            .text_window_top{
                margin-top: 30px;
                margin-left: 25px;
                display: flex;
                font-size: 16px;
                img{
                    margin-right: 16px;
                }
                h4{
                color: #110038;
                letter-spacing: 0;
                line-height: 22px;
                }
            }
            .text_window_bottom{
                margin: 7px 93px 16px 73px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                p{
                    font-size: 14px;
                    color: #110038;
                    letter-spacing: 0;
                    line-height: 20px;
                    span{
                        font-style: oblique;
                        font-weight: bold;
                    }
                }
                ul{
                    list-style-type: none;
                    font-size: 14px;
                    color: #110038;
                    letter-spacing: 0;
                    line-height: 20px;
                    li{
                        margin-top: 10px;
                        .num{
                            font-weight: bold;
                        }
                        .txt{
                            font-weight: bold;
                            font-style: oblique;
                        }
                    }
                }
            }
            .btn_wrapper{
                margin-bottom: 36px;
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                .btn{
                    margin-right: 16px;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }
                .cancel{
                    background: #FFF4FD;
                    padding: 9px 40px;
                }
                .continue{
                    background: #F7C9F3;
                    padding: 9px 35px;
                }
            }       
        }  
    .my_gifs_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        .my_gifs_text{
            width: 100%;
            background: #FFFAFE;
            padding: 7px;
            margin-bottom: 16px;
            background: #FFFAFE;
            border: 1px solid #E6BBE2;
            box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
        }
        .my_gifs_section{
            display: flex;
                justify-content: flex-start;
                max-width:1200px;
                width: 100%;
            .gif_wrapper{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .gif{
                    margin-right: 16px;
                        max-width: 288px;
                        max-height: 288px;
                        width: 100%;
                        height: 100%;
                }
                figcaption{
                    display: none;
                    position: absolute;
                    z-index:2;
                    overflow: hidden;
                    
                }
            }
            
        }
    }
    .capture_window{
        position: relative;
        display: none;
        flex-direction: column;
        max-width: 860px;
        margin: 149px auto;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        .window_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3px 3px 8px;
            padding-left: 4px;
            padding-right: 10px;
            background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
            color: #FFFFFF;
            font-weight: bold;
            img{
                margin: 5px 0;
            }
        }
        .video_window_wrapper{
            margin: 0 auto;
            max-width: 838px;
            width: 100%;
            max-height: 440px;
            height: 100%;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            .video_container{
                width: 832px;
                height: 434px;
                margin: 3px;
            }
            .preview_gif{
                display: none;
                width: 100%;
                max-width: 831px;
                height: 100%;
                max-height: 433px;
                margin: 3px;
            }
            
            .uploading_screen{
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .globe_img{
                    margin: 139px auto 0;
                }
                .progress_bar{
                    margin-top: 39px;
                    display: flex;
                    height: 24px;
                    background: #B4B4B4;
                    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;

                    .progress{
                        width: 12px;
                        max-height: 20px;
                        margin: 2px 1px;
                    }
                    .pink{
                        
                        background: #F7C9F3;
                        
                    }
                    }
                }
                h4{
                    margin-top: 8px;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 22px;
                }
                .txt_restante{
                    margin-top: 8px;
                    margin-bottom: 138px;
                    font-size: 12px;
                    color: rgba(17,0,56,0.64);
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 14px;
                    span{
                        text-decoration: line-through;
                    }
                }

        }
        .timer_wrapper{
            display: none;
            position: absolute;
            bottom: 16px;
            left: 11px;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            .timer{
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                line-height: 22px;
                padding: 7px 13px 7px 21px;
            }
        }
        .window_btn_wrapper{
            margin-right: 11px;
            margin-bottom: 16px;
            margin-top: 21px;
            display: flex;
            justify-content: flex-end;
            .pre_capture_btns{
                display: flex;
                justify-content: flex-end;
                .btn{
                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                }
                .camera{
                    padding :10px 10px 7.5px;
                }
                .capture{
                    padding: 9px 39.5px;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                }
            }
            .in_capture_btns{
                //display: flex;
                display: none;
                justify-content: flex-end;
                .btn_red{
                    background: #FF6161;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
                }
                .target{
                    padding-top: 5px;
                    padding-left: 8px;
                    padding-right: 8px;
                }
                .ready{
                    font-size: 16px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    padding: 9px 53.5px;
                }
            }
            .preview_btns_wrapper{
                display: none;
                justify-content: flex-end;
                align-items: center;
                .redo{
                    margin-right: 14px;
                    background: #FFF4FD;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    padding: 9px 13.5px;
                }
                .upload{
                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    padding: 9px 31.5px;
                }
            }
            .in_upload_btn{
                display: none;
                .cancel_btn{
                    background: #FFF4FD;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    padding: 9px 39.5px;                
                }
            }
        }
    }
    .success_window{
        display: none;
        flex-direction: column;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        max-width: 721px;
        margin: 184px auto 180px;
        .window_header{
            background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            font-weight: bold;
            margin: 3px 3px 27px;
            padding: 3.4px 0 2.6px 4px;
        }
        .window_middle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 46px 60px 24px;
            .gif_wrapper{
                width: 371px;
                height: 196px;
                background: #FFFFFF;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                margin-right: 24px;
                .gif{
                    margin: 3px;
                    width: 100%;
                    max-width: 363px;
                    height: 100%;
                    max-height: 188px;
}
                }
            }
            .btn_wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-bottom: 26px;
                .txt_exito{
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    line-height: 22px;
                    font-weight: bold;
                    margin-bottom: 16px;
                }
                .btn_copy{
                    background: #FFF4FD;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    padding: 9px 56px;
                    margin-bottom: 14px;
                }
                .btn_download{
                    background: #FFF4FD;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 18px;
                    padding: 9px 68px;
                }
            }
            
        }
        .window_bottom{
            display: flex;
            justify-content: flex-end;
            margin-right: 46px;
            margin-bottom: 44px;
            .end_btn{
                
                border: 1px solid #110038;
                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                background-color: white;
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                text-align: center;
                line-height: 18px;
                padding: 9px 53px;
            }
        }

}



